a.rounded-circle.likeIcon {
  width: 40px !important;
  height: 40px !important;
  /* border-radius: 50%;
  border-radius: 50%; */
}

a.page-link.active {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 4px !important;
  border: none !important;
  background-color: #fff !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16) !important;
  color: #242424 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}

.dropdown-menu {
  display: block;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.addItemToWishlist img.liked {
  height: 27px !important;
  width: 28px !important;
}

.disabledbtn {
  opacity: 0.5;
  cursor: auto !important;
}
