input.account-input {
  margin-top: 12px !important;
  border-radius: 16px !important;
  background: #f7f7f7 !important;
  padding: 17px 28px !important;
  color: #242424 !important;
  font-size: 16px !important;
  border: none !important;
  font-weight: 400 !important;
}

input.account-phone-input {
  margin-top: 12px !important;
  border-radius: 16px !important;
  background: #f7f7f7 !important;
  padding: 14px 28px !important;
  color: #242424 !important;
  font-size: 16px !important;
  /* font-weight: 500 !important; */
  border: 1px solid grey;
  width: 90%;
}

.phoneSubmitBtn {
  margin-left: 150px;
  background: var(
    --linear-2,
    linear-gradient(135deg, #87aeb6 0%, #2f6977 100%)
  ) !important;
  border: none !important;
}

input.account-phone-labal {
  color: black;
  font-weight: 500;
}

​ .contect-info-inner .account-input {
  padding-left: 115px !important;
}
​ .edit-profiless .contact-img-text {
  top: 60% !important;
}
.edit-profile-btn a.active {
  width: 27%;
  padding: 11px;
  border-radius: 18px;
  font-weight: 500;
}
​ .edit-profiless .contect-info-inner li:last-child,
.edit-profiless .cstm-calender {
  margin-top: 0px;
}
​ select.form-select.account-input {
  padding: 17px 24px !important;
}

.edit-icon {
  left: 282px;
  bottom: 17px;
  cursor: pointer;
}

.modal-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999999 !important;
}
.modal-container {
  background: #f8f8f8;
  padding: 24px;
  width: 100vw;
  max-width: 450px;
  border-radius: 8px;
  border: none;
}
.custom-width {
  width: 85%;
}
.custom-text {
  font-weight: bold;
  font-size: medium;
}
.closeBtn {
  padding: 6px 17px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  border-radius: 7px;
  background-color: #2d838e;
  color: white;
  margin-left: 150px;
  margin-top: 10px;
}
.closeBtn:hover {
  background-color: #3695a1;
}

.otp-container {
  width: 100%;
  margin-left: 150px;
}

.verifyBtn {
  margin-top: 20px;
  margin-left: 150px;
  background: var(
    --linear-2,
    linear-gradient(135deg, #87aeb6 0%, #2f6977 100%)
  ) !important;
  border: none;
}
.account-abou li > div > div {
  margin-top: 12px !important;
  border-radius: 16px !important;
  background: #f7f7f7 !important;
  padding: 12px 28px !important;
  color: #242424 !important;
  font-size: 16px !important;
  border: none !important;
  font-weight: 400 !important;
}
.account-abou li > div > div > div:last-child {
  display: none;
}
.modal-container {
  background: #f8f8f8;
  padding: 24px;
  width: fit-content;
  max-width: 100%;
  border-radius: 8px;
  border: none;
  text-align: center;
}
.modal-container .otp-container {
  margin-left: 0px;
}
.modal-container .otp-container p {
  color: #242424;
  font-size: 16px;
  font-weight: 500;
  margin: 0px !important;
}
.modal-container .otp-container p + div {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 30px 0px;
}
.otp-container p + div input {
  width: 2.5em !important;
  text-align: center;
  height: 2.5em;
  border-radius: 11px;
}
.modal-container span {
  color: #242424;
  font-size: 16px;
  font-weight: 500;
}
.modal-container .verifyBtn {
  margin-left: 0px !important;
  padding: 10px 40px;
}

.selectedCountry .allow-dropdown {
  width: 100%;
  margin-top: 12px;
}
.selectedCountry .allow-dropdown > input {
  border-radius: 16px !important;
  background: #f7f7f7 !important;
  padding: 17px 28px 17px 50px !important;
  color: #242424 !important;
  font-size: 16px !important;
  border: none !important;
  font-weight: 400 !important;
}

.wishListItem img.likeImg {
  height: 30px !important;
  width: 30px !important;
}

.renderComponent {
  cursor: pointer !important;
}

.css-13cymwt-control {
  margin-top: 12px !important;
  border-radius: 16px !important;
  background: #f7f7f7 !important;
  padding: 10px 28px !important;
  color: #242424 !important;
  font-size: 16px !important;
  border: none !important;
  font-weight: 400 !important;
  border: none;
  cursor: pointer;
}

.selectCountry > div {
  border-radius: 16px !important;
  /* border: 1px solid #242424 !important; */
  background: #f7f7f7 !important;
  padding: 6px 24px !important;
  margin-top: 24px !important;
  /* margin-bottom: 10px; */
}

.orderHistoryBuyBtn {
  background: var(
    --linear-2,
    linear-gradient(135deg, #87aeb6 0%, #2f6977 100%)
  ) !important;
  border: none !important;
}

.editIconforPhone {
  position: absolute;
  top: 28px;
  right: 17px;
  cursor: pointer;
}

.accountSaveBtn {
  background: var(
    --linear-2,
    linear-gradient(135deg, #87aeb6 0%, #2f6977 100%)
  ) !important;
  border: none !important;
}
.numberModal .modal-container {
  padding: 34px 54px !important;
}
.numberModal .modal-container > div {
  width: 375px;
}
.numberModal .modal-container .account-about {
  padding: 0px !important;
}
.numberModal .modal-container .account-about .account-phone-labal {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 10px;
}
.numberModal .intl-tel-input {
  width: 100%;
}
.numberModal .intl-tel-input .form-control {
  padding-left: 45px !important;
}
.numberModal .phoneSubmitBtn {
  margin: 0px;
  padding: 10px 35px;
  font-size: 20px;
}
